Web References/PickingWS/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviar_mensaje_evento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pEvento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDescripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAsunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pZona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPicking" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pArea" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLocalizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pInvcNbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviar_mensaje_eventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="enviar_mensaje_eventoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="enviar_mensaje_eventoSoapIn">
    <wsdl:part name="parameters" element="tns:enviar_mensaje_evento" />
  </wsdl:message>
  <wsdl:message name="enviar_mensaje_eventoSoapOut">
    <wsdl:part name="parameters" element="tns:enviar_mensaje_eventoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enviar_mensaje_evento">
      <wsdl:input message="tns:enviar_mensaje_eventoSoapIn" />
      <wsdl:output message="tns:enviar_mensaje_eventoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviar_mensaje_evento">
      <soap:operation soapAction="http://tempuri.org/enviar_mensaje_evento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviar_mensaje_evento">
      <soap12:operation soapAction="http://tempuri.org/enviar_mensaje_evento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://192.168.1.22/PickingWS/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://192.168.1.22/PickingWS/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>